.credits {
    justify-self: center;
}

.credits table {
    margin: 5rem 1rem;
    border-collapse: collapse;

}

table td, th {
    border: 1px solid #c2c2c2;
    padding: .8rem .3rem;
}

table tr:first-child {
    background-color:#cde384;
}



@media(min-width: 50em){

    table td, th {
        padding: .8rem 3rem;
    }
}
